bin/
obj/
umbraco/Data/Umbraco.sqlite.db*
umbraco/Data/TEMP/
umbraco/Logs/
# Permitir seed-db para inicialización
!seed-db/
.git/
.gitignore
.cursor/
.vscode/
.idea/
node_modules/
**/*.user
**/*.suo
**/*.DS_Store
